body {
  min-height: 100%;
  font-weight: 200;
}

.dropdown-menu > li > a {
  font-weight: 200;
}

table {
  font-weight: 300;
}

b, strong {
  font-weight: 400;
}

#body {
  padding-top: 15px;
  padding-bottom: 22px;
  background-color: #e94e4e;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  #body {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  #body {
    background: none !important;
    background-color: #e94e4e !important;
  }
}

footer {
  text-align: center;
  color: white;
  margin: 22px 0;
}
@media (min-width: 768px) {
  footer {
    margin: 60px 0;
  }
}

ul.unstyled {
  list-style: none;
  padding-left: 0;
}

iframe {
  max-width: 100%;
}

.margin-leader {
  margin-top: 22px;
}

.margin-trailer {
  margin-bottom: 22px;
}

.inline-h {
  margin-right: 5px;
}

.info > p {
  margin-bottom: 0;
}

.album-cover {
  margin: 22px auto;
}

.bandcamp {
  position: relative;
  background-color: white;
}
.bandcamp::after {
  content: "Listen on Bandcamp";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 114px;
  width: 200px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  opacity: 0;
}
.bandcamp > .album-cover {
  margin-bottom: 0;
}
.bandcamp:hover, .bandcamp:hover *, .bandcamp:hover::after {
  -webkit-transition: opacity 0.15s;
  -webkit-transition-delay: 0.1s;
  -moz-transition: opacity 0.15s 0.1s;
  -o-transition: opacity 0.15s 0.1s;
  transition: opacity 0.15s 0.1s;
}
.bandcamp:hover .album-cover, .bandcamp:hover .flag {
  opacity: 0.5;
}
.bandcamp:hover::after {
  opacity: 1;
}

.flag {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 5px;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 100px solid rgba(232, 72, 72, 0.7);
}

.container {
  max-width: 767px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 22px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.box h2:first-child {
  margin-top: 0;
}
.box p:last-child {
  margin-bottom: 0;
}
.inverse .box {
  @media(min-width:$screen-sm-min) {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

}

.card {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 33px;
  margin-left: -11px;
  margin-right: -11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.inverse .card {
  @media(min-width:$screen-sm-min) {
    color: white;
}

}
.card img {
  margin: 0 auto;
}
.card h4 {
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .card h4 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .card {
    text-align: center;
  }
  .card:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .inverse .card:hover {
    @media(min-width:$screen-sm-min) {
      background-color: rgba(0, 0, 0, 0.3);
}

  }
}

@media (min-width: 768px) {
  .card-wrapper {
    height: 300px;
  }
}
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.nav-albums {
  margin: 0 -15px;
  margin-bottom: -10px;
}

h1 {
  text-align: center;
  margin-bottom: 44px;
  font-size: 44px;
  color: white;
}
@media (min-width: 768px) {
  h1 {
    color: #222222;
    font-size: 88px;
    text-shadow: white 2px 1.5px 0;
  }
}
@media (min-width: 768px) {
  .inverse h1 {
    color: white;
    text-shadow: #222222 3px 2px 0;
  }
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.typekit-badge {
  opacity: 0.3;
}

.table-hover > tbody > tr:hover > th, .table-hover > tbody > tr:hover > td {
  background-color: rgba(255, 255, 255, 0.5);
}
