@import bootstrap/variables
@import compass/css3/border-radius
@import compass/css3/text-shadow
@import compass/css3/box-sizing

=dark
	color: white

body
	min-height: 100%
	font-weight: 200

.dropdown-menu > li > a
	font-weight: 200

table
	font-weight: 300

b, strong
	font-weight: 400

#body
	padding-top: 15px
	padding-bottom: $line-height-computed
	background-color: #e94e4e
	background-size: cover
	background-position: center
	background-attachment: fixed
	@media (min-width:$screen-sm-min)
		padding-top: 50px
		padding-bottom: 100px
	@media (max-width:$screen-xs-max)
		background: none !important
		background-color: #e94e4e !important

footer
	text-align: center
	+dark
	margin: $line-height-computed 0
	@media (min-width:$screen-sm-min)
		margin: 60px 0

ul.unstyled
	list-style: none
	padding-left: 0

iframe
	max-width: 100%

.margin-leader
	margin-top: $line-height-computed

.margin-trailer
	margin-bottom: $line-height-computed

.inline-h
	margin-right: 5px

.info > p
	margin-bottom: 0

.album-cover
	margin: $line-height-computed auto
	a > &
		margin-bottom: 0
		position: relative

.container
	max-width: $screen-xs-max

.box
	background-color: rgba(white,.8)
	padding: $line-height-computed
	+border-radius(3px)
	h2:first-child
		margin-top: 0
	p:last-child
		margin-bottom: 0
	.inverse &
		@media(min-width:$screen-sm-min)
			background-color: rgba(black,.7)
			+dark

.card
	padding-top: $line-height-computed / 2
	padding-bottom: $line-height-computed / 2
	margin-bottom: $line-height-computed * 1.5
	margin-left: -.5*$line-height-computed
	margin-right: -.5*$line-height-computed
	+border-radius(3px)
	.inverse &
		@media(min-width:$screen-sm-min)
			+dark
	img
		margin: 0 auto
	h4
		margin-bottom: 4px
	@media (max-width: $screen-xs-max)
		h4
			margin-top: 0
	@media (min-width: $screen-sm-min)
		text-align: center
		&:hover
			background-color: rgba(white,.5)
			.inverse &
				@media(min-width:$screen-sm-min)
					background-color: rgba(black,.3)
@media (min-width: $screen-sm-min)
	.card-wrapper
		height: 300px

.navbar
	+border-radius(0)
	margin-bottom: 0

h1
	text-align: center
	margin-bottom: 2*$line-height-computed
	font-size: 2*$line-height-computed
	+dark
	@media (min-width: $screen-sm-min)
		color: $gray-darker
		font-size: 4*$line-height-computed
		+text-shadow(white 2px 1.5px 0)
	.inverse &
		@media (min-width: $screen-sm-min)
			+dark
			+text-shadow($gray-darker 3px 2px 0)


.table > tbody > tr:first-child > td
	border-top: none

.typekit-badge
	opacity: .3


.table-hover > tbody > tr:hover
	> th, > td
		background-color: rgba(white,.5)
	
