---
layout: default
bg: music.jpg
---

{% if page.image %}
	<img class="img-responsive" src="{{ site.baseurl }}{{ site.image_url }}/albums/{{ page.image }}">
{% endif %}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="{{ page.paypal }}">
	{% if page.bandcamp %}
		<a class="btn btn-primary margin-leader" href="http://oberlinsteel.bandcamp.com/album/{{ page.bandcamp }}">Listen on Bandcamp</a>
	{% endif %}
	{% if page.paypal %}
		<input type="submit" class="btn btn-primary margin-leader" name="submit" value="Buy on PayPal for {{ page.cost }}">
	{% endif %}
</form>

{% if page.tracks %}
	<h2>Tracks</h2>
	<ol>
		{% for track in page.tracks %}
			<li><strong>{{ track.title }}</strong> {{ track.info }}</li>
		{% endfor %}
	</ol>
{% endif %}

{% if page.personnel %}
	<h2>Personnel</h2>
	<ul class="unstyled">
	{% for person in page.personnel %}
		<li><strong class="inline-h">{{ person.name }}</strong> {{ person.instrument }}</li>
	{% endfor %}
	</ul>
{% endif %}

<div class="info margin-leader">
	{{ content }}
</div>

<ul class="nav-albums margin-leader">
{% for post in site.categories.albums %}
	<li{% if page.title == post.title %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>


